body {
    color:black;
    background-color: white;
    background-image:url(fond.jpg);
    }

.highlight{
    color:#d0d0d0
}

.highlight table td{
    padding:5px
}

.highlight table pre{
    margin:0
}

.highlight .w{
    color:#d0d0d0
}

.highlight .err{color:#151515;background-color:#ac4142}
.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{color:#888}
.highlight .cp{color:#f4bf75}
.highlight .o,.highlight .ow{color:#f4bf75}
.highlight .p,.highlight .pi{color:#d0d0d0}
.highlight .gi{color:#90a959}
.highlight .gd{color:#ac4142}
.highlight .gh{color:#6a9fb5;font-weight:bold}
.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{color:#aa759f}
.highlight .kc,.highlight .kt,.highlight .kd{color:#d28445}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{color:#90a959}
.highlight .sr{color:#75b5aa}
.highlight .si,.highlight .se{color:#8f5536}
.highlight .nt,.highlight .nn,.highlight .nc,.highlight .no{color:#f4bf75}
.highlight .na{color:#6a9fb5}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{color:#90a959}
.highlight .ss{color:#90a959}
section{display:block;margin:0 0 20px 0}
h1,h2,h3,h4,h5,h6{margin:0 0 20px}
li{line-height:1.4}
header{background:rgba(0,0,0,0.1);width:100%;border-bottom:1px dashed #b5e853;padding:20px 0;margin:0 0 40px 0}
header h1{font-size:30px;line-height:1.5;margin:0 0 0 -40px;font-weight:bold;font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;color:#b5e853;text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);letter-spacing:-1px;-webkit-font-smoothing:antialiased}
header h2{font-size:18px;font-weight:300;color:#666}
#downloads .btn{display:inline-block;text-align:center;margin:0}
#main_content{width:100%;-webkit-font-smoothing:antialiased}
section img{max-width:100%}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;color:#b5e853;letter-spacing:-0.03em;text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1)}
#main_content h1{font-size:30px}
#main_content h2{font-size:24px}
#main_content h3{font-size:18px}
#main_content h4{font-size:14px}
#main_content h5{font-size:12px;text-transform:uppercase;margin:0 0 5px 0}
#main_content h6{font-size:12px;text-transform:uppercase;color:#999;margin:0 0 5px 0}
pre{background:rgba(0,0,0,0.9);border:1px solid rgba(255,255,255,0.15);padding:10px;font-size:16px;color:#b5e853;border-radius:2px;word-wrap:normal;overflow:auto;overflow-y:hidden}
code.highlighter-rouge{background:rgba(0,0,0,0.9);border:1px solid rgba(255,255,255,0.15);padding:0px 3px;margin:0px -3px;color:#aa759f;border-radius:2px}
table{width:100%;margin:0 0 20px 0}
th{text-align:left;border-bottom:1px dashed #b5e853;padding:5px 10px}
td{padding:5px 10px}
hr{height:0;border:0;border-bottom:1px dashed #b5e853;color:#b5e853}

body{display:flex;min-height:100vh}nav{margin:.5em 0}table{width:100%}header h1{margin:0}h1{font-size:1.7em}body>header h1{width:100%;margin-top:.1em;margin-bottom:.5em}article header{display:block;margin-bottom:1.5em}article header h1{margin-bottom:.2em}article footer{padding:1em 0}.icon{margin:0 1em}.icon svg{height:1.1em;width:1.1em;fill:currentColor;vertical-align:text-bottom}.archive div{display:flex;flex-wrap:wrap;align-items:baseline}.archive h3{margin:.2em 0}.archive h3,.archive a{font-weight:inherit}.archive time{min-width:10em}.large img,.large.embed{max-width:140%;margin-right:-20%;margin-left:-20%}.embed{position:relative;padding-bottom:56.25%;margin:1.5em 0}.embed.large{padding-bottom:78.75%}.embed iframe{position:absolute;width:100%;height:100%}

body{font-family:system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;font-size:16px;font-size:calc(0.8em + 0.25vw);font-weight:300;line-height:1.65;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body,blockquote,figure{margin:0}a{color:inherit;text-decoration:inherit;transition:color .2s}a.selected,a:hover{color:#949494}article a,b,strong,th{font-weight:400}h1,h2,h3,h4,h5,h6{font-weight:inherit}article a{color:#68f}article header a,article footer a{font-weight:inherit;color:inherit}header time{color:#949494}hr{border:1px solid rgba(148,148,148,0.3);margin:2em 0}blockquote{border-left:4px solid #68f;padding-left:1.5em}img{border-radius:2px;max-width:100%;height:auto;margin:.5em 0}table{border-spacing:1px;box-shadow:0px 0px 0px 1px rgba(148,148,148,0.16) inset}tr:hover,tr:nth-child(even) td{background:rgba(148,148,148,0.06)}th{background:rgba(148,148,148,0.1);text-align:inherit}th,td{box-shadow:0px 0px 0px 1px rgba(148,148,148,0.16);padding:.5em 1em}pre{background:rgba(38,38,38,0.8);color:#fff;border-radius:2px;font-size:.8em;margin:1.5em 0;padding:.8em 1.2em;white-space:pre-wrap}p code{background:rgba(148,148,148,0.15);opacity:.75;border-radius:2px;font-size:.9em;margin:0 .1em;padding:.2em .4em}body,aside,main{flex-direction:column}main,article{flex-grow:1}header,footer{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center}header nav>*,footer nav>*{margin:0 .8em}header nav>:first-child,footer nav>:first-child{margin-left:0}header nav>:last-child,footer nav>:last-child{margin-right:0}.c{color:#a29f90}.err{color:#960050;background-color:#1e0010}.k{color:#66d9ef}.l{color:#ae81ff}.n{color:#f8f8f2}.o{color:#f92672}.p{color:#f8f8f2}.cm,.cp,.c1,.cs{color:#75715e}.ge{font-style:italic}.gs{font-weight:bold}.kc,.kd{color:#66d9ef}.kn{color:#f92672}.kp,.kr,.kt{color:#66d9ef}.ld{color:#e6db74}.m{color:#ae81ff}.s{color:#e6db74}.na{color:#a6e22e}.nb{color:#f8f8f2}.nc{color:#a6e22e}.no{color:#66d9ef}.nd{color:#a6e22e}.ni{color:#f8f8f2}.ne,.nf{color:#a6e22e}.nl,.nn{color:#f8f8f2}.nx{color:#a6e22e}.py{color:#f8f8f2}.nt{color:#f92672}.nv{color:#f8f8f2}.ow{color:#f92672}.w{color:#f8f8f2}.mf,.mh,.mi,.mo{color:#ae81ff}.sb,.sc,.sd,.s2{color:#e6db74}.se{color:#ae81ff}.sh,.si,.sx,.sr,.s1,.ss{color:#e6db74}.bp,.vc,.vg,.vi{color:#f8f8f2}.il{color:#ae81ff}.gu{color:#75715e}.gd{color:#f92672}.gi{color:#a6e22e}@media (prefers-color-scheme: light){html{background:#fff !important;color:#282828 !important}}@media (prefers-color-scheme: dark){html{background:#282828 !important;color:#fff !important}}.light{background:#fff;color:#282828}.dark{background:#282828;color:#fff}a.ghost,a.gray,a.disabled{border-radius:2px;padding:.4em .8em}a.ghost{background:#68f;box-shadow:0 0 0 2px #68f inset;color:#fff;transition:.1s}a.ghost:hover{background:transparent;color:#68f}a.gray,a.disabled{background:rgba(148,148,148,0.08);transition:background,.2s}a.gray:hover,a.disabled:hover{color:inherit}a.gray:hover{background:rgba(148,148,148,0.2)}body>header,article,body>footer{padding:1.5em calc(34% - 12rem)}@media (max-width: 40em){body>header,article,body>footer{padding:1.5em 1em}}body>header{box-shadow:0 0 1em rgba(40,40,40,0.03)}article,body>footer{border-top:1px solid rgba(148,148,148,0.12)}article{background:rgba(148,148,148,0.01)}body>footer{background:rgba(148,148,148,0.05);color:#949494}

body{
    background-color: black;
}

a {
    color: chartreuse;
}